.H {
    width: 100%;
    text-align: center;
    font-family: Poppins;
    font-size: 100px;
    margin-top: 3%;
}

body {
    margin: 0;
}
mark { 
    background-color: rgb(153, 153, 252);
    color: black;
}

 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } 

  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    width: 70%;
    font-family: Poppins;
    margin-left: 15%;
  }

  .bott {
    text-align: center;
    font-family: poppins;
  }